<!doctype html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <meta charset="utf-8">
  <%= css :styles %>
</head>
<body>
  <header>
    <h1>Songs By Sinatra</h1>
    <%= erb :menu %>
  </header>
  <section>
    <%= styled_flash %>
    <%= yield %>
  </section>
</body>
</html>