    <nav>
       <ul>
         <li><a href="/" class="<%= current? %>" title="Home">Home</a></li>
         <li><a href="/about" class="<%= current?("/about") %>" title="About">About</a></li>
         <li><a href="/contact" class="<%= current?("/contact") %>" title="Contact">Contact</a></li>
         <li><a href="/songs" class="<%= current?("/songs") %>" title="Songs">Songs</a></li>
         <% if session[:admin] == true %>
         <li><a href="/logout" title="Logout">Logout</a></li>
         <b>Logged in as <%= settings.username %></b>
         <% else %>
         <li><a href="/login" title="Login">Login</a></li>
         <% end %>
       </ul>
    </nav>