    <nav>
       <ul>
         <li><a href="/" class="<%= current? %>" title="Home">Home</a></li>
         <li><a href="/about" class="<%= current?("/about") %>" title="About">About</a></li>
         <li><a href="/contact" class="<%= current?("/contact") %>" title="Contact">Contact</a></li>
         <li><a href="/songs" class="<%= current?("/songs") %>" title="Songs">Songs</a></li>
         <li><a href="/users" class="<%= current?("/users") %>" title="users">Registration</a></li>
         <% if env['warden'].authenticated? %>
         <li><a href="/auth/logout" title="Logout">Logout</a></li>
         <b>Logged in as <%= env['warden'].user.username %></b> 
         <% else %>
         <li><a href="/auth/login" title="Login">Login</a></li>
         <% end %>
       </ul>
    </nav>