<label for="first_name"> First name:
<input id="first_name" type="text" name="<%="user[first_name]"%>" value="<%="#{@user.first_name}"%>">
</label>
<label for="last_name"> Last name:
<input id="last_name" type="text" name="<%="user[last_name]"%>" value="<%="#{@user.last_name}"%>">
</label>
<label for="username"> Username:
<input id="username" type="text" name="<%="user[username]"%>" value="<%="#{@user.username}"%>">
</label>
<label for="password"> Password:
<input id="password" type="password" name="<%="user[password]"%>" value="<%="#{@user.password}"%>">
</label>
<input type="submit" value="Create user">
